.scroll-container {
  overflow-y: auto;
  max-height: 400px;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
}

.scroll-container::-webkit-scrollbar-track {
  background: #808080;
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 4px;
}
